@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Press Start 2P", cursive;
  }
}
